.hero{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-image: url(../../pictures/logo/loginbanner.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    background-size:cover; 
   
}

.content img{
    float: left middle right;
}




.content{
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 20px;
    background-color: gold;
    background-position: 20px;
    
}
img{
    margin-right: 60px;
}

.column.img{
    float: left middle right;
    width: 25%;
    padding: 0 10px;
}
.promo-sale h1{
    text-align: center;
    background-color: rgb(248, 193, 54);
    margin-top: 15px;
    margin-bottom: 15px;
}

.sale{
    background-color: rgb(245, 207, 81);
    text-align: center;
}

button:hover{
  background-color: rgb(26, 23, 243);
  border-radius: 8px;
}

h2{
    text-align: center;
}

.parent{
    float: left middle ;
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: -80px;
}
h3{
   text-align-last: right;
}
.child{
    border-radius: 30px;
    border-top: 50px;
}
.Container{
    width: auto;
 }

.position-relative img{
    border-radius:50px;
    width: 400px;   
 }
 
   
    figcaption{
        position: absolute;
        bottom: 2rem;
        margin: 0 2rem;
        color: rgb(9, 2, 48);
        font-size: 25px;
        font-weight: bolder;
    }

    @media screen and (max-width: 768px) {
        figcaption{
            position: inherit;
            bottom: inherit;
            margin: .25rem 0px;
            font-size: inherit;
            color: inherit;
        }
    }



body{
    background: #fcfcfc;
    font-family: italic;
}

footer{
    position: bottom;
    margin-top: 25px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(28, 37, 28);
    height: auto;
    width: 100vw;
    padding-top: 25px;
    color: rgb(223, 238, 15);
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    text-decoration: overline underline; 
    font-family: italic; 
}

.footer-content h4{
    margin-top: auto;
    font-size: medium;
}

.footer-content p{
    max-width: 500px;
    margin: 20px auto;
    margin-top: 5px;
    line-height: 20px;
    font-size: 15px;
    color: #cacdd2;
    padding-top: 1px;
    
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: rgb(231, 243, 59);
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i{
    color: rgb(13, 211, 72);
}
.footer-bottom{
    background: rgb(24, 22, 22);
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
 }
 .footer-bottom p a{
   color:#44bae8;
   font-size: 16px;
   text-decoration: none;
 }
 .footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
 }
 .footer-menu{
    float: right;
    margin-right: 55px;
  }
  .footer-menu ul{
    display: flex;
  }
  .footer-menu ul li{
  padding-right: 10px;
  display: block;
  }
  .footer-menu ul li a{
    color: yellow;
    text-decoration: none;
  }
  .footer-menu ul li a:hover{
    color: #27bcda;
  }
  @media (max-width:500px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    }
    

   
