body{
  padding: 0;
  margin: 0;
}
.banner{
  background-image: url(../../pictures/logo/menu.jpg);
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.menu-wrapper{
  background-color: rgb(241, 17, 17);
  display: flex;
  flex-direction: column;
  text-align: left;
}

#section-1{
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center;
  padding: 0;
}
#section-2{
  height: 700px;
  background-color:#DD7230;
}

/* menu-navbar */
.menu-navbar-wrapper{
  display: flex;
  justify-content: center;
}
.menu-navbar-wrapper>div{
  margin: 10px;
  background-color: #DD7230;
}

/* overFlowY */
.overFlowYDisplay{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(247, 199, 168);
}