body{
  padding: 0;
  margin: 0;
}
.banner{
  background-image: url(../../pictures/logo/menu.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
  border-radius: 20px;
}
.menu-wrapper{
  background-color: rgb(255, 225, 150);
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 20px;
  border-radius: 15px;
  margin-top: 82px;
}
#section-1{
  display: flex;
  justify-content: center;
  align-items: center;
}
#section-2{
  height: 480px;
  /* background-color:#DD7230; */
}

/* menu-navbar */
.menu-navbar-wrapper{
  display: flex;
  justify-content: center;
}
.menu-navbar-wrapper>div{
  margin: 10px;
  background-color: #DD7230;
  padding: 5px;
  border-radius: 5px;
  color: white;
  border: 2px solid #DD7230;
  cursor: pointer;
  font-family: cursive;
}
.menu-navbar-wrapper>div:hover{
  background-color: rgb(255, 225, 150);
  border: 2px solid #ab4607;
  color: black;
}

/* overFlowY */
.overFlowYDisplay{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(247, 199, 168);
}