.banner{
  background-image: url(../../pictures/logo/banner.jpg);
  background-size: cover;
  background-position: centergit ;
  height: 40vh;
}
  
.main-dish{
  display: flex;  
  overflow-x: auto;
}

section{
  background-color: rgb(190, 187, 187);
  display: flex;
  flex-direction: column;
  text-align: left;

}